{% extends 'base.html' %}



{% block content %}

<div class='row'>
    <div class='col-sm-2 text-center'></div>
    <div class='col-sm-8 text-center'>
      <h1>Unique Ads Per Category</h1>
      <canvas id="unique"></canvas>
    </div>
    <div class='col-sm-2 text-center'></div>
</div>
<div class='row'>
    <div class='col-sm-2 text-center'></div>
    <div class='col-sm-8 text-center'>
      <h1>Total Ads Per Category</h1>
      <canvas id="total"></canvas>
    </div>
    <div class='col-sm-2 text-center'></div>
</div>
<div class='row'>
    <div class='col-sm-2 text-center'></div>
    <div class='col-sm-8 text-center'>
      <h1>Ratio of Total to Unique</h1>
      <canvas id="ratio"></canvas>
    </div>
    <div class='col-sm-2 text-center'></div>
</div>

{% endblock content %}

<script>
  {% block jquery %}
  var endpoint = '/api/videos/categories/'
  var defaultData = []
  var labels = []
  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
      
      console.log(data)

      labels = data.category_names

      var ctx1 = document.getElementById("unique").getContext('2d');
      var myChart1 = new Chart(ctx1, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [

              {
                label: 'Unique',
                backgroundColor: 'rgb(45, 126, 201)',
                borderColor: 'rgb(45, 126, 201)',
                data: data.unique_ads,
              },

              ]
          },
          options: {
              scaleShowValues: true,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }],
                xAxes: [{
                  ticks: {
                    autoSkip: false
                  }
                }]
              }
            }
      });

      var ctx2 = document.getElementById("total").getContext('2d');
      var myChart2 = new Chart(ctx2, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [

              {
                label: 'total',
                backgroundColor: 'rgb(45,201,139)',
                borderColor: 'rgb(45,201,139)',
                data: data.total_ads,
              }
              ]
          },
          options: {
              scaleShowValues: true,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }],
                xAxes: [{
                  ticks: {
                    autoSkip: false
                  }
                }]
              }
            }
      });

      var ctx3 = document.getElementById("ratio").getContext('2d');
      var myChart3 = new Chart(ctx3, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [
              {
                label: 'Ratio',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: data.ratio,
              },

              ]
          },

          options: {
              scaleShowValues: true,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }],
                xAxes: [{
                  ticks: {
                    autoSkip: false
                  }
                }]
              }
            }

      });

  }

  });
  console.log("I am Here")





  {% endblock %}

</script>
